/* styles.css */

body {
	background-color: #2D2E49;
}

.mainHead {
	text-align: center;
	font-family: arial;
	color: #C6C6C6;
}

#gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	height: 40em;
}

.gridSquare {
	background-color: black;
	float: left;
	border: .1em solid #565656;
	
}

.gridSquare:hover {
	background-color: red;
}