/* styles.css */

body {
	background-color: #2D2E49;
}

.mainHead {
	text-align: center;
	font-family: arial;
	color: #C6C6C6;
}

.gridSquare {
	background-color: black;
	width: 2em;
	height: 2em;
	float: left;
	border: .1em solid #565656;
}

.gridSquare:hover {
	background-color: red;
}